- if reminder.repeat == "Every day"
  - if reminder.num_of_times == 1
    = "Every day at #{reminder.individual_reminder.everyday_reminders(sort = true)[0]}"
  - elsif reminder.num_of_times == 2
    = "Twice a day at #{reminder.individual_reminder.everyday_reminders(sort = true)[0]} and #{reminder.individual_reminder.everyday_reminders(sort = true)[1]}"
  - elsif reminder.num_of_times == 3
    = "Three times a day at #{reminder.individual_reminder.everyday_reminders(sort = true)[0]}, #{reminder.individual_reminder.everyday_reminders(sort = true)[1]} and #{reminder.individual_reminder.everyday_reminders(sort = true)[2]}"
  - elsif reminder.num_of_times == 4
    = "Four times a day at #{reminder.individual_reminder.everyday_reminders(sort = true)[0]}, #{reminder.individual_reminder.everyday_reminders(sort = true)[1]}, #{reminder.individual_reminder.everyday_reminders(sort = true)[2]} and #{reminder.individual_reminder.everyday_reminders(sort = true)[3]}"
