= render partial: "reminder"
%header.card
  .row
    .col-9
      %h1 My Reminders
    .col-3#new_reminder
      = link_to "reminders/new", class: "btn btn-primary" do
        New reminder
%main.card
  .row.mx-1.mb-3
    - @reminders.each do |reminder|
      = hidden_field_tag "reminder_info", nil, class: "reminder_info", data: {medication_name: reminder.medication_name, medication_type: reminder.medication_type, times: reminder.individual_reminder.everyday_reminders, individual_id: reminder.individual_reminder.id}
      .col-4.mt-3
        .card.reminder_container
          %span
            = render partial: "medication_type", locals: { reminder: reminder }
            = link_to reminder.medication_name, reminder_path(reminder.id), class: "reminder_link"
          = render partial: "take_next", locals: { reminder: reminder }
          %hr.my-1
          .notes
            = "Notes: #{reminder.notes}"
          %hr.my-1
            .repeat
              = image_pack_tag "clock.svg", title: "Reminder", alt: "Clock icon made by <a href='https://www.flaticon.com/authors/google' title='Google'>Google</a>", class: "reminder_icon"
              = render partial: "repeat", locals: { reminder: reminder }
          %hr.my-2
            = button_tag "Confirm medication taken", type: "button", class: "btn btn-secondary", "data-toggle": "modal", "data-target": "#confirm_modal#{reminder.id}", id: "confirm_reminder"
            .modal.fade{id: "confirm_modal#{reminder.id}", role: "dialog", tabindex: "-1"}
              .modal-dialog{role: "document"}
                .modal-content
                  .modal-header
                    %h5.modal-title Confirm the time the medication was taken?
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                      %span{"aria-hidden" => "true"} ×
                  .modal-body.text-center
                    - time_available = false
                    - if reminder.repeat == "Every day"
                      - if reminder.individual_reminder.time1.present? && (reminder.num_of_times == 1 || 2 || 3 || 4)
                        - if reminder.individual_reminder.taken1.nil? || Time.parse(reminder.individual_reminder.taken1.values.last).strftime("%d/%m/%Y") != DateTime.now.strftime("%d/%m/%Y")
                          = button_tag "#{reminder.individual_reminder.time1.strftime("%H:%M")}", class: "btn btn-success confirm_time", data: {individual_id: reminder.individual_reminder.id, time_num: 1}
                          - time_available = true
                      - if reminder.individual_reminder.time2.present? && (reminder.num_of_times == 2 || 3 || 4)
                        - if reminder.individual_reminder.taken2.nil? || Time.parse(reminder.individual_reminder.taken2.values.last).strftime("%d/%m/%Y") != DateTime.now.strftime("%d/%m/%Y")
                          = button_tag "#{reminder.individual_reminder.time2.strftime("%H:%M")}", class: "btn btn-success confirm_time", data: {individual_id: reminder.individual_reminder.id, time_num: 2}
                          - time_available = true
                      - if reminder.individual_reminder.time3.present? && (reminder.num_of_times == 3 || 4)
                        - if reminder.individual_reminder.taken3.nil? || Time.parse(reminder.individual_reminder.taken3.values.last).strftime("%d/%m/%Y") != DateTime.now.strftime("%d/%m/%Y")
                          = button_tag "#{reminder.individual_reminder.time3.strftime("%H:%M")}", class: "btn btn-success confirm_time", data: {individual_id: reminder.individual_reminder.id, time_num: 3}
                          - time_available = true
                      - if reminder.individual_reminder.time4.present? && (reminder.num_of_times == 4)
                        - if reminder.individual_reminder.taken4.nil? || Time.parse(reminder.individual_reminder.taken4.values.last).strftime("%d/%m/%Y") != DateTime.now.strftime("%d/%m/%Y")
                          = button_tag "#{reminder.individual_reminder.time4.strftime("%H:%M")}", class: "btn btn-success confirm_time", data: {individual_id: reminder.individual_reminder.id, time_num: 4}
                          - time_available = true
                      - if !time_available
                        All reminders have been confirmed for today.
