%header.card
  %h1 My Reminders

%main.card
  .row.mx-1.mb-3
    - @reminders.each do |reminder|
      .col-4.mt-3
        .card.reminder_container
          %span
            - if reminder.medication_type == "Drop"
              = image_pack_tag "eye-drops.svg", title: "Eye drops", alt: "Eye drops icon made by <a href='https://www.flaticon.com/authors/smashicons' title='Smashicons'>Smashicons</a>", class: "card_icon"
            - elsif reminder.medication_type == "Injection"
              = image_pack_tag "injection.svg", title: "Injection", alt: "Injection icon made by <a href='https://www.flaticon.com/authors/smashicons' title='Smashicons'>Smashicons</a>", class: "card_icon"
            - elsif reminder.medication_type == "Syrup"
              = image_pack_tag "medicine.svg", title: "Syrup", alt: "Syrup icon made by <a href='https://www.flaticon.com/authors/smashicons' title='Smashicons'>Smashicons</a>", class: "card_icon"
            - elsif reminder.medication_type == "Tablet"
              = image_pack_tag "pill.svg", title: "Tablets", alt: "Tablet icon made by <a href='https://www.flaticon.com/authors/smashicons' title='Smashicons'>Smashicons</a>", class: "card_icon"
            = reminder.medication_name
          .take_next
            - if reminder.repeat == "Every day" && reminder.started?
              - if reminder.individual_reminder.upcoming_reminder_today?
                = "To take next: Today at #{reminder.individual_reminder.everyday_next_reminder}"
              - else
                = "To take next: Tomorrow at #{reminder.individual_reminder.everyday_reminders.first}"
            - else
              = "To begin taking: #{reminder.start_date.strftime("%d %B")} at #{reminder.individual_reminder.everyday_reminders.first}"
          %hr.my-1
          .notes
            = "Notes: #{reminder.notes}"
          %hr.my-1
          .repeat
            = image_pack_tag "clock.svg", title: "Reminder", alt: "Clock icon made by <a href='https://www.flaticon.com/authors/google' title='Google'>Google</a>", class: "reminder_icon"
            - if reminder.repeat == "Every day"
              - if reminder.num_of_times == 1
                = "Every day at #{reminder.individual_reminder.time1.strftime("%H:%M")}"
              - elsif reminder.num_of_times == 2
                = "Twice a day at #{reminder.individual_reminder.time1.strftime("%H:%M")} and #{reminder.individual_reminder.time2.strftime("%H:%M")}"
              - elsif reminder.num_of_times == 3
                = "Three times a day at #{reminder.individual_reminder.time1.strftime("%H:%M")}, #{reminder.individual_reminder.time2.strftime("%H:%M")} and #{reminder.individual_reminder.time3.strftime("%H:%M")}"
              - elsif reminder.num_of_times == 4
                = "Four times a day at #{reminder.individual_reminder.time1.strftime("%H:%M")}, #{reminder.individual_reminder.time2.strftime("%H:%M")}, #{reminder.individual_reminder.time3.strftime("%H:%M")} and #{reminder.individual_reminder.time4.strftime("%H:%M")}"
