= render partial: "reminder"
%header.card
  .row
    .col-9
      %h1 My Reminders
    .col-3#new_reminder
      = link_to "reminders/new", class: "btn btn-primary" do
        New reminder
%main.card
  .row.mx-1.mb-3
    - @reminders.each do |reminder|
      = hidden_field_tag "reminder_info", nil, class: "reminder_info", data: {medication_name: reminder.medication_name, medication_type: reminder.medication_type, times: reminder.individual_reminder.everyday_reminders, individual_id: reminder.individual_reminder.id}
      .col-4.mt-3
        .card.reminder_container
          %span
            - if reminder.medication_type == "Drop"
              = image_pack_tag "eye-drops.svg", title: "Eye drops", alt: "Eye drops icon made by <a href='https://www.flaticon.com/authors/smashicons' title='Smashicons'>Smashicons</a>", class: "card_icon"
            - elsif reminder.medication_type == "Injection"
              = image_pack_tag "injection.svg", title: "Injection", alt: "Injection icon made by <a href='https://www.flaticon.com/authors/smashicons' title='Smashicons'>Smashicons</a>", class: "card_icon"
            - elsif reminder.medication_type == "Syrup"
              = image_pack_tag "medicine.svg", title: "Syrup", alt: "Syrup icon made by <a href='https://www.flaticon.com/authors/smashicons' title='Smashicons'>Smashicons</a>", class: "card_icon"
            - elsif reminder.medication_type == "Tablet"
              = image_pack_tag "pill.svg", title: "Tablets", alt: "Tablet icon made by <a href='https://www.flaticon.com/authors/smashicons' title='Smashicons'>Smashicons</a>", class: "card_icon"
            = reminder.medication_name
          .take_next
            - if reminder.repeat == "Every day" && reminder.started?
              - if reminder.individual_reminder.upcoming_reminder_today?
                = "To take next: Today at #{reminder.individual_reminder.everyday_next_reminder}"
              - else
                = "To take next: Tomorrow at #{reminder.individual_reminder.everyday_reminders(sort = true).first}"
            - else
              = "To begin taking: #{reminder.start_date.strftime("%d %B")} at #{reminder.individual_reminder.everyday_reminders(sort = true).first}"
          %hr.my-1
          .notes
            = "Notes: #{reminder.notes}"
          %hr.my-1
          .repeat
            = image_pack_tag "clock.svg", title: "Reminder", alt: "Clock icon made by <a href='https://www.flaticon.com/authors/google' title='Google'>Google</a>", class: "reminder_icon"
            - if reminder.repeat == "Every day"
              - if reminder.num_of_times == 1
                = "Every day at #{reminder.individual_reminder.everyday_reminders(sort = true)[0]}"
              - elsif reminder.num_of_times == 2
                = "Twice a day at #{reminder.individual_reminder.everyday_reminders(sort = true)[0]} and #{reminder.individual_reminder.everyday_reminders(sort = true)[1]}"
              - elsif reminder.num_of_times == 3
                = "Three times a day at #{reminder.individual_reminder.everyday_reminders(sort = true)[0]}, #{reminder.individual_reminder.everyday_reminders(sort = true)[1]} and #{reminder.individual_reminder.everyday_reminders(sort = true)[2]}"
              - elsif reminder.num_of_times == 4
                = "Four times a day at #{reminder.individual_reminder.everyday_reminders(sort = true)[0]}, #{reminder.individual_reminder.everyday_reminders(sort = true)[1]}, #{reminder.individual_reminder.everyday_reminders(sort = true)[2]} and #{reminder.individual_reminder.everyday_reminders(sort = true)[3]}"
          %hr.my-2
            = button_tag "Confirm medication taken", type: "button", class: "btn btn-secondary", "data-toggle": "modal", "data-target": "#confirm_modal#{reminder.id}", id: "confirm_reminder"
            .modal.fade{id: "confirm_modal#{reminder.id}", role: "dialog", tabindex: "-1"}
              .modal-dialog{role: "document"}
                .modal-content
                  .modal-header
                    %h5.modal-title Confirm the time the medication was taken?
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                      %span{"aria-hidden" => "true"} ×
                  .modal-body.text-center
                    - time_available = false
                    - if reminder.repeat == "Every day"
                      - if reminder.individual_reminder.time1.present? && (reminder.num_of_times == 1 || 2 || 3 || 4) && reminder.individual_reminder.taken1.nil?
                        = button_tag "#{reminder.individual_reminder.time1.strftime("%H:%M")}", class: "btn btn-success confirm_time", data: {individual_id: reminder.individual_reminder.id, time_num: 1}
                        - time_available = true
                      - if reminder.individual_reminder.time2.present? && (reminder.num_of_times == 2 || 3 || 4) && reminder.individual_reminder.taken2.nil?
                        = button_tag "#{reminder.individual_reminder.time2.strftime("%H:%M")}", class: "btn btn-success confirm_time", data: {individual_id: reminder.individual_reminder.id, time_num: 2}
                        - time_available = true
                      - if reminder.individual_reminder.time3.present? && (reminder.num_of_times == 3 || 4) && reminder.individual_reminder.taken3.nil?
                        = button_tag "#{reminder.individual_reminder.time3.strftime("%H:%M")}", class: "btn btn-success confirm_time", data: {individual_id: reminder.individual_reminder.id, time_num: 3}
                        - time_available = true
                      - if reminder.individual_reminder.time4.present? && (reminder.num_of_times == 4) && reminder.individual_reminder.taken4.nil?
                        = button_tag "#{reminder.individual_reminder.time4.strftime("%H:%M")}", class: "btn btn-success confirm_time", data: {individual_id: reminder.individual_reminder.id, time_num: 4}
                        - time_available = true
                      - if !time_available
                        All reminders have been confirmed for today.
