.row#reminder_details
  .col-12
    %main.card
      .row
        .col-6
          = render partial: "dashboard/medication_type", locals: { reminder: @reminder }
          %h1
            = @reminder.medication_name
          = "Type: #{@reminder.medication_type}"
          = render partial: "dashboard/take_next", locals: { reminder: @reminder }
          Repeat:
          = render partial: "dashboard/repeat", locals: { reminder: @reminder }
          Started on:
          = @reminder.start_date.strftime("%d/%m/%Y")
          = "Notes: #{@reminder.notes}"
        .col-6
          Reminders
          %h6
            - if @reminder.individual_reminder.dose1.present?
              = "#{pluralize(@reminder.individual_reminder.dose1.to_i, 'dose')} at #{@reminder.individual_reminder.time1.strftime("%H:%M")}"
          %h6
            - if @reminder.individual_reminder.dose2.present?
              = "#{pluralize(@reminder.individual_reminder.dose2.to_i, 'dose')} at #{@reminder.individual_reminder.time2.strftime("%H:%M")}"
          %h6
            - if @reminder.individual_reminder.dose3.present?
              = "#{pluralize(@reminder.individual_reminder.dose3.to_i, 'dose')} at #{@reminder.individual_reminder.time3.strftime("%H:%M")}"
          %h6
            - if @reminder.individual_reminder.dose4.present?
              = "#{pluralize(@reminder.individual_reminder.dose4.to_i, 'dose')} at #{@reminder.individual_reminder.time4.strftime("%H:%M")}"

      .row
        .col-12
          %h2 Medication Reminder History
          .row
            .col-4
              Dates
            .col-2
              = @reminder.individual_reminder.time1.strftime("%H:%M") if @reminder.individual_reminder.time1.present?
            .col-2
              = @reminder.individual_reminder.time2.strftime("%H:%M") if @reminder.individual_reminder.time2.present?
            .col-2
              = @reminder.individual_reminder.time3.strftime("%H:%M") if @reminder.individual_reminder.time3.present?
            .col-2
              = @reminder.individual_reminder.time4.strftime("%H:%M") if @reminder.individual_reminder.time4.present?
          - taken1 = @reminder.individual_reminder.taken1
          - taken2 = @reminder.individual_reminder.taken2
          - taken3 = @reminder.individual_reminder.taken3
          - taken4 = @reminder.individual_reminder.taken4
          - new_array = []
          - if taken1 != nil
            - taken1.each do |row|
              - row.each_with_index do |value, index|
                - if index == 1
                  - new_array << {taken_val: "taken1", date: DateTime.parse(value).strftime("%d %B %Y"), time: DateTime.parse(value).strftime("%H:%M")}
          - if taken2 != nil
            - taken2.each do |row|
              - row.each_with_index do |value, index|
                - if index == 1
                  - new_array << {taken_val: "taken2", date: DateTime.parse(value).strftime("%d %B %Y"), time: DateTime.parse(value).strftime("%H:%M")}
          - if taken3 != nil
            - taken3.each do |row|
              - row.each_with_index do |value, index|
                - if index == 1
                  - new_array << {taken_val: "taken3", date: DateTime.parse(value).strftime("%d %B %Y"), time: DateTime.parse(value).strftime("%H:%M")}
          - if taken4 != nil
            - taken4.each do |row|
              - row.each_with_index do |value, index|
                - if index == 1
                  - new_array << {taken_val: "taken4", date: DateTime.parse(value).strftime("%d %B %Y"), time: DateTime.parse(value).strftime("%H:%M")}

          - all_dates = []
          - if taken1 != nil
            - taken1.each do |row|
              = render partial: "table", locals: { row: row, new_array: new_array, reminder: @reminder, all_dates: all_dates }

          - if taken2 != nil
            - taken2.each do |row|
              - row.each_with_index do |value, index|
                - if index == 1
                  - if !all_dates.include?(DateTime.parse(value).strftime("%d %B %Y"))
                    = render partial: "table", locals: { row: row, new_array: new_array, reminder: @reminder, all_dates: all_dates }

          - if taken3 != nil
            - taken3.each do |row|
              - row.each_with_index do |value, index|
                - if index == 1
                  - if !all_dates.include?(DateTime.parse(value).strftime("%d %B %Y"))
                    = render partial: "table", locals: { row: row, new_array: new_array, reminder: @reminder, all_dates: all_dates }

          - if taken4 != nil
            - taken4.each do |row|
              - row.each_with_index do |value, index|
                - if index == 1
                  - if !all_dates.include?(DateTime.parse(value).strftime("%d %B %Y"))
                    = render partial: "table", locals: { row: row, new_array: new_array, reminder: @reminder, all_dates: all_dates }
