!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %title Medication Reminder
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - flash.each do |type, msg|
      %div{class: "alert #{bootstrap_class_for_flash(type)} alert-dismissable fade show"}
        = msg
        %button.close{"data-dismiss" => "alert"}
          %i.fas.fa-times
    = yield
